<footer class="site-footer">

  <div class="wrapper">
    <div class="partner-logos">
      <!-- replace logos here! -->
      <p style="text-align: left;">This is a student project, not the official audioguide.</p>
      <a href="https://nmoq.org.qa/en/calendar/manzar-exhibition/about-the-galleries/" target="_blank">
<!--         <img class="logo" src="{{ site.baseurl }}/assets/img/logo/acmi-white.png"/> -->
<!--         <img class="logo" src="http://www.w3.org/2000/svg"/> -->
        <svg data-name="nmoq-logo-icon" viewBox="0 0 652 177.5" width="30%" 
   height="30%" xmlns="http://www.w3.org/2000/svg" style="flex: 0 0 97%; fill:white "><defs><style>.logo-color { fill: #6e8cb1; }</style></defs><path class="logo-color" d="M484.2,83.9c22.3,16.2,21.6,38.5,21.6,38.5v49.5c87-11.1,146.2-33.4,146.2-33.4S518.5,34.5,338.4,7.2,0,39.5,0,39.5s46.1,35.8,120.6,71a51,51,0,0,1,19.5-26.6l38.1-22.7,38.1,22.7c22.2,16.2,21.5,38.5,21.5,38.5v32l14.8,4v-36s-.7-22.3,21.5-38.5l38.1-22.7h0l38.1,22.7c22.2,16.2,21.5,38.5,21.5,38.5v54.5l14.7.6V122.4s-.7-22.3,21.5-38.5l38.1-22.7Z"></path></svg>
      </a>
    </div>
  </div>
</footer>
